* {
    box-sizing: border-box;
}

#mainContainer {
    width: 99vw;
    height: 99vh;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#region Board */
#myBoardContainer{
    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%);
    background-color:#333333; 
}

#oppBoardContainer{
    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%);
    background-color:#333333; 
}

.board {
    width: 450px;
    height: 450px;

    /* background-color:white;  */

    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(10, 1fr);
}
/*#endregion*/

/*#region Tiles */
.gridTile {
    width: 45px;
    height: 45px;

    position: relative;
    padding: 0;
    margin: 0;

    box-sizing: border-box; 
    border: solid 1px #222222;
    background-color: #333333;
}

.boatTile {
    width: 45px;
    height: 45px;

    position: relative;
    padding: 0;
    margin: 0;

    box-sizing: border-box; 
    border: solid 1px #222222;
    background-color: orange;
}

.boatTopTile {
    border-radius: 20px 20px 0 0;
}

.boatBottomTile {
    border-radius: 0 0 20px 20px;
}
/*#endregion*/