#mainContainer {
    width: 99vw;
    height: 99vh;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#region Board */
#boardContainer{
    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    width: 572px;
    height: 572px;

    background-color:#333333; 

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/*#region Tiles */
.squareTile { 
    position: relative;
    height: 71.5px;
    width: 71.5px;

    margin: 0px;
    background-color: #ffffff;
    border: none;
    /* make sure element doesn't move when a border is added */
    box-sizing: border-box; 
}

.lightTile {
    background-color: #d4f0fc;
}

.darkTile {
    background-color: #4ea9d0;
}

.lightSelected {
    background-color: #80dcca;
    border: 2px white solid;
}

.darkSelected {
    background-color: #59c3ad;
    border: 2px white solid;
}
/*#endregion*/

/*#region Pieces */
.pieceContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.pieceContainer img {
    width: 80%;
    height: 80%;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 500;
}
/*#endregion*/
/*#endregion*/