#mainContainer {
    width: 100vw;
    height: 100vh;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#boardContainer{
    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    /* width: 630px;
    height: 540px; */
    width: 644px;
    height: 552px;

    background-color:#333333;
    border-radius: 25px;
    border: 10px solid #333333;

    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 92px 92px 92px 92px 92px 92px 92px;
    grid-template-rows: 92px 92px 92px 92px 92px 92px; */
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;

    /* display: flex;
    flex-wrap: wrap; */
}

/* For hovering region */
.squareTile { 
    position: relative;
    /* height: 65px;
    width: 65px; */
    height: 90px;
    width: 90px;

    margin: 0px;
    /* background-color: #333333; */
    border: none;
    /* border: 1px solid white; */
}

.tile{
    position: relative;
    height: 75px;
    width: 75px;
    
    margin: 0px;
    background-color: #222222;
    border-radius: 50%;
    /* border: 7.5px solid white; */

    /* centre */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}