#mainContainer {
    width: 100vw;
    height: 100vh;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#boardContainer{
    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#region board */
#board {
    /* width: 630px;
    height: 540px; */
    width: 644px;
    height: 552px;

    background-color:#333333;
    border-radius: 25px;
    border: 10px solid #333333;

    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 92px 92px 92px 92px 92px 92px 92px;
    grid-template-rows: 92px 92px 92px 92px 92px 92px; */
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;

    /* display: flex;
    flex-wrap: wrap; */
}

#boardColumnHoversParent {
    width: 664px;
    height: 572px;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 2px; */

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boardColumnHoverLeft {
    width: 101px;
    height: 572px;

    /* background-color: #444444; */
    position: relative;
    overflow: hidden;

    border-radius: 25px 0 0 25px;
    /* border: 10px solid #444444; */

    /* display: none; */
}

.boardColumnHover {
    width: 92.4px;
    height: 572px;

    /* background-color: #444444; */
    position: relative;
    overflow: hidden;

    /* border: 10px solid #444444; */

    /* display: none; */
}

.boardColumnHoverRight {
    width: 101px;
    height: 572px;

    /* background-color: #444444; */
    position: relative;
    overflow: hidden;

    border-radius: 0 25px 25px 0;
    /* border: 10px solid #444444; */

    /* display: none; */
}

.hoverSelected {
    background-color: #444444;
}
/*#endregion*/

/* For hovering region */
.squareTile { 
    position: relative;
    /* height: 65px;
    width: 65px; */
    height: 90px;
    width: 90px;

    margin: 0px;
    /* background-color: #ffffff; */
    border: none;
    /* border: 1px solid white; */
}

.sqTileHovered {
    background-color: #444444;
}

.tile{
    position: relative;
    height: 75px;
    width: 75px;
    
    margin: 0px;
    background-color: #222222;
    border-radius: 50%;
    /* border: 7.5px solid white; */

    z-index: 25;

    /* centre */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellowTile {
    background-color: #F6AE2D;
}

.redTile {
    background-color: #c91847;
}