* { /* reset all margins and paddings*/
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #333333;
    overflow: hidden;
}

.centre{
    /* text */
    color: #f2f2f2;
    font-size: 27px;
    padding: 18px 16px;
    /* centering */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    /* other */
    /* border: 5px solid green; */
    width: 120px;
}

/*#region flex-container */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 675px;
    gap: 140px;
    /* background-color: #202020; */
}

.gameContainer{
    background-color: white;
    padding: 155px 175px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.25s;
}

.gameContainer:hover {
    margin: -15px;
    padding: 170px 190px;
}
/*#endregion */

/*#region Animated menu icon */
.mIconContainer{
    /* display: inline-block; */
    cursor: pointer;
    position: absolute;
    padding: 14px;
    text-align: center;
    top: 0px;
    left: 5px;
    /* border: 5px solid green; */
    width: 30px;
    height: 30px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 6px 0;
    transition: 0.35s;
}

.change .bar1 {
transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}
/*#endregion*/
