* { /* reset all margins and paddings*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/*#region No highlight or drag */
.noHighlightOrDrag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/* Additional rule to prevent images with the 'noHighlightOrDrag' class from being draggable */
img.noHighlightOrDrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
/* #endregion */

/*#region TopNav (header bar) */
.topnav {
    background-color: #333333;
    overflow: hidden;
    height: 65px;
    color: #f2f2f2;
    font-size: 20px;
    width: 100%;

    /* to make sticky */
    top: 0;
    position: sticky;
    z-index: 10;
}

.topnav .centre {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid green; */
}
/*#endregion*/

/*#region Header option icons */
/* home container */
.homeIconContainer {
    position: absolute;
    width: 37.5px;
    height: 37.5px;
    transform: translate(50%, 37.5%);
}

.homeIconContainer img {
    width: 100%;
    height: 100%;
    transition: 0.35s;
}

.homeIconContainer img:hover {
    width: 116%;
    height: 116%;
    margin: -3px;
}

/* help button */
.helpIconContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 37.5px;
    height: 37.5px;
    transform: translate(-50%, 37.5%);
}

.helpIconContainer img {
    width: 100%;
    height: 100%;
    transition: 0.35s;
}

.helpIconContainer img:hover {
    width: 116%;
    height: 116%;
    margin: -3px;
}
/*#endregion*/

/*#region Games flexContainer */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 674px; */
    height: calc(100vh - 65px);
    position: relative;
    gap: 11.72vw;
    background-color: #222222;
    /* border: 5px solid green; */
}

.gameContainer {
    background-color: #333333;
    border-radius: 3vw;
    border: 1vw solid #333333;

    /* width: 250px;
    height: 250px; */
    width: 15vw;
    height: 15vw;

    color: white;
    font-size: 20px;

    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    transition: 0.25s;
}

.gameContainer:hover {
    margin: -1.5vw;
    width: 18vw;
    height: 18vw;
    font-size: 23px;
}

.gameContainerImg {
    width: 100%;
    height: 100%;

    /* transform: translate(0, -17.5%); */
    /* centre div */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameContainerText {
    text-align: center;

    position: relative;
    transform: translate(0%, -115%);
}
/*#endregion */

/*#region Animated menu icon */
.mIconContainer {
    /* display: inline-block; */
    cursor: pointer;
    /* position: absolute; */
    padding: 14px;
    text-align: center;
    top: 0px;
    /* border: 5px solid green; */
    width: 30px;
    height: 30px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 6px 0;
    transition: 0.3s;
}

.change .bar1 {
transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
}
/*#endregion*/

/*#region Play options menu */
/* add a transparent background behind menu */
.menuBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 40%;
    background-color: #c1c1c1;
}

/*#region Friend or AI menu */
.friendOrAIMenu {
    opacity: 100%;
    width: 350px;
    height: 180px;

    background-color: #282828;
    border-radius: 40px;
    border: 35px solid #282828;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton {
    background-color: #4ea9d0;
    border: none;
    border-radius: 12.5px;
    padding: 12.5px 25px;
    /* width: 62.5%; */

    color: white;
    font-weight: bold;
    font-size: 18px;

    text-align: center;
    display: inline-block;

    /* position: absolute; */
    /* transform: translate(-50%, 0);
    bottom: 0; */
}

.playButton:hover {
    background-color: #4090b2;
}

.playButton.disabled {
    background-color: #326d86;
    color: #b0b0b0;
    cursor: not-allowed;
}

#playFriendButton {
    width: 62.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
}

#playRobotButton {
    width: 62.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
/*#endregion*/

/*#region Robot difficulty menu*/
.robotDifficultyMenu {
    opacity: 100%;
    /* This menu starts hidden */
    display: none;
    /* width: 20vw;
    height: 24.5vh; */
    width: 350px;
    height: 120px;

    background-color: #282828;
    border-radius: 40px;
    border: 35px solid #282828;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#region Difficulty buttons*/
#easyButton {
    transform: translate(-10%, 72.5%);
    background-color: limegreen;
}

#easyButton:hover {
    background-color: #2ec22e;
}

#mediumButton {
    transform: translate(0%, 72.5%);
    background-color: #f6ae2d;
}

#mediumButton:hover {
    background-color: #e0a027;
}

#hardButton {
    transform: translate(10%, 72.5%);
    background-color: #c91847;
}

#hardButton:hover {
    background-color: #a51038;
}
/*#endregion*/
/*#endregion*/

/*#region Online play menu */
.onlinePlayMenu {
    opacity: 100%;
    /* This menu starts hidden */
    display: none;
    width: 350px;
    height: 400px;

    background-color: #282828;
    border-radius: 40px;
    border: 35px solid #282828;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playOnlineButton {
    width: 45%;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.onlineMenuInputs {
    border: none;
    border-radius: 7.5px;
    padding: 12.5px 25px;
    /* width: 62.5%; */

    color: black;
    font-weight: bold;
    font-size: 18px;

    /* text-align: center;
    display: inline-block; */
}

#usernameInput {
    width: 72.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
}

#roomNameInput {
    width: 72.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
}

#infoText1 {
    width: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(0%, 10%);
}

#infoText2 {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 205%);
}
/*#endregion*/

/*#region Rematch menu */
.rematchMenu {
    /* width: 20vw;
    height: 24.5vh; */
    width: 350px;
    height: 180px;

    /* This menu starts hidden */
    display: none;

    background-color: #282828;
    border-radius: 40px;
    border: 35px solid #282828;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    /* centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rematchButton {
    width: 62.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#homeButton {
    width: 62.5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
}
/*#endregion*/
/*#endregion*/

/*#region Player icons and score */
.scoreAndIconParent {
    display: none;
}

/*#region icons */
.iconDiv {
    width: 50px;
    height: 50px;

    /* border: 3px solid white; */
    border-radius: 50%;
    /* make sure element doesn't move when a border is added */
    box-sizing: border-box; 

    /* overflow: hidden; */
    justify-content: center;
    align-items: center;

    /* top centre div */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 35%);
}

#playerIcon {
    transform: translate(90%, 35%);
}

#opponentIcon {
    transform: translate(-190%, 35%);
}

.currentGo {
    border: 4px solid #4ea9d0;
}

.iconImg {
    width: 100%;
    height: 100%;
}
/*#endregion*/

/*#region texts */
.nameText {
    color: white;
    font-size: 20px;
    font-weight: bold;

    position: fixed;
    top: 0;
    left: 50%;

    /* border: 5px solid green; */

    width: 150px;
}

#playerNameText {
    /* color: #f6ae2d; */
    transform: translate(70%, 130%);
    text-align: left;
}

#opponentNameText {
    /* color: #c91847; */
    transform: translate(-170%, 130%);
    text-align: right;
}

.scoreText {
    color: white;
    font-size: 25px;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 50%;

    width: 60px;

    text-align: center;
}

#playerScoreText {
    /* transform: translate(50%, 100%); */
    transform: translate(-22.5%, 100%);
}

#opponentScoreText {
    /* transform: translate(-150%, 100%); */
    transform: translate(-77.5%, 100%);
}

.roomNameText {
    display: none;
    text-align: left;

    color: white;
    width: 250px;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(5%, -50%);
}
/*#endregion*/
/*#endregion*/

/*#region Mobile changes */
@media (max-width: 768px) {
    /*#region flexContainer */
    .flexContainer {
        flex-direction: column;
        height: 100%;
        padding: 50px 0;
        gap: 15vw;
    }

    .gameContainer {
        width: 165px;
        height: 165px;
        border-radius: 45px;
        border: 14px solid #333333;
    }

    .gameContainer:hover {
        width: 175px;
        height: 175px;
        border-radius: 45px;
        border: 15px solid #333333;
    }
    /*#endregion*/

    /*#region Play options menu */
    .friendOrAIMenu {
        width: 70vw;
        height: 38vw;
    }

    /*#region Robot difficulty menu */
    .robotDifficultyMenu {
        width: 70vw;
        height: 24vw;
    }

    #easyButton, #mediumButton, #hardButton {
        padding: 5px 10px;
        border-radius: 7.5px;
        text-align: center;
        font-size: 15px;
        width: 85px;
        height: 35px;
    }
    /*#endregion*/

    .onlinePlayMenu {
        font-size: 14px;
        width: 70vw;
        height: 80vw
    }

    .rematchMenu {
        width: 70vw;
        height: 38vw;
    }

    /*#region Player icons and score */
    .nameText {
        display: none;
    }
    /*#endregion*/
    /*#endregion*/
}
/*#endregion*/